.Alert{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    background-color: #ff7875;
    border: 4px solid #d9363e;
}

.ForgotPasswordPageWrapper{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    .Back{
        position: absolute;
        top: 20px;
        left: 40px;
        color: #fff;
        transition: 0.5s;
        animation: from-top 1s;

        &:hover{
            opacity: 0.7;
        }
    }

    .Wrapper{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 500px;
        background-color: #fff;
        border-radius: 10px;
    }
    
    .title{
        position: absolute;
        color: #111;
        left: 50%;
        top: 20px;
        transform: translate(-50%);
        white-space: nowrap;
        font-size: 40px;
        font-weight: 500;
        animation: from-top 1s;
    }

    p{
        position: absolute;
        top: 42%;
        left: 93px;
        transform: translateY(-50%);
        animation: from-left 1s;
    }

    input{
        position: absolute;
        padding-left: 10px;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        border: 2px solid gray;
        outline: none;
        border-radius: 8px;
        width: 400px;
        height: 35px;
        background-color: transparent;
        transition: 0.8s;
        animation: from-bottom 1s;

        &:hover{
            opacity: 0.7;
        }
    }

    button {
        position: absolute;
        width: 250px;
        height: 40px;
        border: 1px solid #111;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);
        transition: 0.5s;
        animation: from-left 1s;

        &:hover{
            opacity: 0.7;
        }
    }
}

.LoginPageWrapper{
    width: 100%;
    height: 100%;

    .back{
        position: absolute;
        top: 20px;
        left: 50px;
        color: #fff;
        cursor: pointer;
        transition: 0.5s;
        animation: from-top 1s;
        user-select: none;

        &:hover{
            opacity: 0.7;
        }
    }

    .wrapper{
        width: 610px;
        height: 440px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1{
        color: #fff;
        position: absolute;
        top: 8%;
        left: 70px;
        transform: translate(-50%, -50%);
        animation: from-top 1s;
        user-select: none;

        @media screen and (max-width: 674px) {
            left: 90px;
        }

        @media screen and (max-width: 635px) {
            left: 116px;
        }

        @media screen and (max-width: 576px) {
            left: 150px;
        }        

        @media screen and (max-width: 513px) {
            left: 180px;
        }          
        
        @media screen and (max-width: 451px) {
            left: 210px;
        } 
        
        @media screen and (max-width: 390px) {
            left: 230px;
        }   
        
        @media screen and (max-width: 354px) {
            left: 255px;
        }        
    }

    .Lang{
        color: #fff;
        position: absolute;
        top: 15%;
        right: 0;
        transform: translate(-50%, -50%);
        animation: from-bottom 1s;

        @media screen and (max-width: 512px) {
            right: 50px;
        }     
        
        @media screen and (max-width: 411px) {
            right: 100px;
        }        

        span{
            color: #fff;
            margin-right: 10px;
            user-select: none;
            transition: 0.5s;
        }

        .Ru, .Eng {
            cursor: pointer;
        }
    }

    .inputWrapper{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        input{
            width: 500px;
            height: 40px;
            border-radius: 10px;
            outline: none;
            border: 2px solid #fff;
            background-color: transparent;  
            transition: 0.7s;
            padding-left: 10px;
            animation: from-bottom 1s;
            color: #fff;

            @media screen and (max-width: 545px) {
                width: 400px;
            }    
            
            @media screen and (max-width: 456px) {
                width: 300px;
            }            

            &:hover, &:focus-within{
                background-color: #fff;
                color: #111;
            }

            &:focus-within::placeholder, &:hover::placeholder{
                color: #111;
            }

            &::placeholder{
                color: #fff;
                transform: translate(3px);
            }
        }

        a{
            margin-left: 400px;
            margin-top: -15px;
            user-select: none;
            cursor: pointer;
            animation: fade-in 1s;
            white-space: nowrap;

            @media screen and (max-width: 665px) {
                white-space: wrap;
            }            

            @media screen and (max-width: 584px) {
                margin-left: 310px;
            }

            @media screen and (max-width: 456px) {
                margin-left: 150px;
                transform: translate(90px);
            }            
        }
    }

    .SetRegister{
        position: absolute;
        cursor: pointer;
        left: 1%;
        color: #646cff;
        z-index: 100;
        transform: translate(-50%, -50%);
        user-select: none;
        font-weight: 500;
        animation: fade-in 1s;

        @media screen and (max-width: 584px) {
            left: 40px;
        }        

        &:hover{
            color: #747bff;
        }
    }

    .submit{
        position: absolute;
        left: 47%;
        top: 73%;
        transform: translate(-50%, -50%);
        color: #fff;
        width: 250px;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        background-color: transparent;
        font-weight: 400;
        cursor: pointer;
        transition: 0.6s;
        animation: from-bottom 1s;

        &:hover{
            background-color: #fff;
            color: #111;
            margin-top: -10px;
            box-shadow: 0px 0px 10px #111;
        }
    }
}

.VerifyWrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;

    @media screen and (max-width: 732px) {
        width: 600px;
    }

    @media screen and (max-width: 572px) {
        width: 500px;
    }

    @media screen and (max-width: 517px) {
        width: 425px;
    }

    @media screen and (max-width: 441px) {
        width: 370px;
    }

    @media screen and (max-width: 391px) {
        width: 350px;
        height: 550px;
    }     
    
    @media screen and (max-width: 366px) {
        width: 300px;
    } 

    .VerifyPageTitle{
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translate(-50%);
        white-space: nowrap;
        user-select: none;
        animation: from-bottom 1s;

        @media screen and (max-width: 517px) {
           font-size: 40px;
        }

        @media screen and (max-width: 391px) {
            font-size: 31px;
        }   
    }

    .VerifyButton{
        position: absolute;
        left: 50%;
        top: 55%;
        width: 300px;
        height: 50px;
        transform: translate(-50%, -50%);
        outline: none;
        background-color: transparent;
        border: 1px solid #111;
        user-select: none;
        animation: from-bottom 1s;

        @media screen and (max-width: 366px) {
            width: 250px;
        }         
    }

    .VerifyInfo{
        position: absolute;
        left: 50%;
        bottom: 120px;
        transform: translate(-50%);
        text-align: center;
        width: 650px;
        font-weight: 500;
        animation: from-top 1s;

        @media screen and (max-width: 732px) {
            width: 550px;
            bottom: 105px;
        }

        @media screen and (max-width: 572px) {
            width: 450px;
        }

        @media screen and (max-width: 517px) {
           width: 400px;
        }

        @media screen and (max-width: 441px) {
            width: 370px;
            bottom: 80px;
        }

        @media screen and (max-width: 391px) {
            width: 350px;
            bottom: 90px;
        }  
        
        @media screen and (max-width: 366px) {
            width: 250px;
            bottom: 80px;
        }         
    }

    .sendMessageAgain{
        position: absolute;
        text-align: center;
        left: 50%;
        bottom: 10px;
        font-size: 20px;
        transform: translate(-50%);
        color: #0000FF;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        animation: fade-in 1s;

        @media screen and (max-width: 366px) {
            font-size: 19px;
        }
    }
}

@keyframes from-top {
    from{
        opacity: 0.6;
        scale: 0.93;
        margin-top: -10px;
    }
}

@keyframes from-left {
    from{
        opacity: 0.6;
        scale: 0.93;
        margin-left: -30px;
    }
}

@keyframes from-bottom {
    from{
        opacity: 0.6;
        scale: 0.93;
        margin-top: 15px;
    }
}

@keyframes fade-in {
   from{
    scale: 0.6;
    opacity: 0;
   }
}